<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopmind.productservice.mapper.ProductAuditMapper">

    <select id="selectLatestByProductIds" resultType="com.shopmind.productservice.entity.ProductAudit">
        SELECT DISTINCT ON (product_id) *
        FROM sm_product_audits
        WHERE product_id IN
        <foreach collection="productIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY product_id, created_at DESC
    </select>

</mapper>
